.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #4A90E2;
  font-weight: 100;
  font-size: 100px;
  margin-bottom: 20px;
}

.slogan {
  color: #4A90E3;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}
